#nome {
    width: 300px;
    height: 150px;
}

#logo {
    width: 300px;
    height: 300px;
}

#principal {
    width: 250px;
    height: 300px;
}

#show {
    width: 350px;
    height: 500px;
}

#img {
    width: 300px;
    height: 300px;
}